* {
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 60px; /* Adjust height as needed */
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between logo and menu */
    padding: 0 30px; /* Padding for the whole navbar */
}

#logo {
    font-size: 40px;
}

#logo span {
    color: #ff004f;
}

.Menu {
    display: flex;
    gap: 30px; /* Space between menu items */
}

.menuitem {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.menuitem:hover {
    color: #ff004f; /* Change color on hover */
}
